# Archivos del sistema
.DS_Store

# Dependencias
/node_modules/

# Builds de producción

build/

# Archivos temporales de Vite o React Router
/.react-router/

# Archivos de entorno (nunca subir .env reales)
.env*
!.env.example
